<% provide(:title, "Account Details") %>
<h2 class="ui header">
    Account Details
    <div class="sub header">Update your account information.</div>
</h2>
<div class="ui divider"></div>
<%= form_with(model: @user,
    id: "account-details-form",
    class: "ui form",
    method: :patch,
    url: edit_user_path(@user)
) do |form| %>
    <div class="field">
        <%= get_profile_image(@user, alt: "Image", class: "ui tiny avatar image") %>
        <span><%= link_to("Change", "https://gravatar.com/emails", target: "_blank", class: "") %></span>
    </div>
    <div class="field">
        <%= form.label(:email) %>
        <div class="ui left icon input">
            <%= form.email_field(:email, placeholder: "juan.dela.cruz@email.com", value: @user.email) %>
            <i class="at icon"></i>
        </div>
    </div>
    <div class="field">
        <%= form.label(:name) %>
        <div class="ui left icon input">
            <%= form.text_field(:name, placeholder: "Juan Dela Cruz", value: @user.name) %>
            <i class="id badge icon"></i>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <%= form.label(:password) %>
            <div class="ui left icon input">
                <%= form.password_field(:password, placeholder: "@yourPassword1234") %>
                <i class="key icon"></i>
            </div>
        </div>
        <div class="field">
            <%= form.label(:password_confirmation, "Password Confirmation") %>
            <%= form.password_field(:password_confirmation, placeholder: "@yourPassword1234") %>
        </div>
    </div>
    <div class="ui right aligned fitted basic segment">
        <%= form.submit("Save Changes", class: "ui positive button") %>
    </div>
    <%= render("partials/messages", messages: flash[:messages]) %>
    <div class="ui error message form-error-message"></div>
<% end %>
