<% provide(:title, "Sign Up") %>
<%
    messages = []
    messages.append({
          "title": "The server rejected your request!",
          "subtitles": @user.errors.full_messages(),
          "type": "negative"
    }) if @user.errors.any?()
    messages.append(*flash[:messages]) if flash[:messages]
%>
<h2 class="ui header">
    Sign Up
    <div class="sub header">New User? Setup an account in minutes!</div>
</h2>
<div class="ui divider"></div>
<%= form_with(model: @user,
    id: "account-details-form",
    class: "ui form",
    url: auth_sign_up_path()
) do |form| %>
    <div class="field">
        <%= form.label(:email) %>
        <div class="ui left icon input">
            <%= form.email_field(:email, placeholder: "juan.dela.cruz@email.com", value: @user.email) %>
            <i class="at icon"></i>
        </div>
    </div>
    <div class="field">
        <%= form.label(:name) %>
        <div class="ui left icon input">
            <%= form.text_field(:name, placeholder: "Juan Dela Cruz", value: @user.name) %>
            <i class="id badge icon"></i>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <%= form.label(:password) %>
            <div class="ui left icon input">
                <%= form.password_field(:password, placeholder: "@yourPassword1234") %>
                <i class="key icon"></i>
            </div>
        </div>
        <div class="field">
            <%= form.label(:password_confirmation, "Password Confirmation") %>
            <%= form.password_field(:password_confirmation, placeholder: "@yourPassword1234") %>
        </div>
    </div>
    <div class="ui right aligned fitted basic segment">
        <div class="ui buttons">
            <%# <button class="ui button" name="commit" value="sign-in" type="submit">Sign In</button> %>
            <%# <%= form.submit("Sign In", class: "ui button") %>
            <%= link_to("Sign In", auth_sign_in_path(), class: "ui button") %>
            <div class="or"></div>
            <%= form.submit("Submit", class: "ui positive button") %>
        </div>
    </div>
    <%= render("partials/messages", messages: messages) %>
    <div class="ui error message form-error-message"></div>
<% end %>
