<!DOCTYPE html>
<html>
    <head>
        <title><%= get_title(yield(:title)) %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
    </head>

    <body>
        <div id="main-content" class="ui piled text container segment">
            <%= render("layouts/header") %>
            <div class="ui grid">
                    <div class="four wide column">
                        <%= render("layouts/navigation") %>
                    </div>
                    <div class="ui twelve wide stretched column">
                        <div id="right-content" class="ui secondary segment">
                            <%= yield %>
                        </div>
                    </div>
                    <%= render("layouts/footer") %>
            </div>
        </div>
    </body>
</html>
